[Desktop Entry]
Type=Application
Name=Proton VPN for Plasma
GenericName=VPN Client
Comment=Native KDE Plasma frontend for Proton VPN
Exec=proton-vpn-kde
Icon=proton-vpn-kde
Terminal=false
Categories=Network;Qt;KDE;
Keywords=VPN;Privacy;Security;Proton;KDE;Plasma;
StartupNotify=true
X-KDE-StartupNotify=true
