[Desktop Entry]
Type=Application
Name=Plasma VPN
GenericName=Proton VPN-compatible Client
Comment=Unofficial native Plasma client compatible with Proton VPN
Exec=proton-vpn-kde --show
Icon=plasma-vpn
Terminal=false
Categories=Network;Qt;KDE;
Keywords=VPN;Privacy;Security;Proton;KDE;Plasma;
StartupNotify=true
X-KDE-StartupNotify=true
